.content-project-hero {
  @apply w-full flex items-center justify-center bg-no-repeat bg-cover relative pt-[200px] pb-[100px] md:py-[130px]; 

  &::before {
    content: "";
    @apply absolute left-0 top-0 w-full h-full;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 30.21%, rgba(0, 0, 0, 0.50) 79.69%);
  }

  > .container-fluid {
    @apply w-full px-4 lg:px-8 xl:px-12 xxl:px-[60px] relative z-10;

    .thumb {
      @apply max-w-[300px] md:max-w-[400px] xl:max-w-[500px] xxl:max-w-[600px] xxxl:max-w-[720px] h-[300px] md:h-[400px] xl:h-[500px] xxl:h-[600px] xxxl:h-[720px] relative flex items-center justify-center mx-auto;

      img.img-hero {
        @apply w-full h-full object-cover rounded-full;
      }

      figcaption {
        @apply absolute;

        img {
          @apply h-10 md:h-14 xl:h-20 xxxl:h-[124px] object-contain;
        }
      }
    }

    .list-networks {
      @apply flex items-center justify-center md:block space-x-3 md:space-x-0 space-y-0 md:space-y-3 md:absolute right-4 lg:right-14 xxl:right-[60px] top-[50%] pt-4 md:pt-0;

      li {
        a {
          @apply flex text-semantic-white hover:text-primary-100 text-[24px] md:text-[30px];
        }
      }
    }
  }
}

.content-our-project {
  @apply w-full py-12 ;

  > .container-fluid {
    @apply px-4 lg:px-8 xl:px-12 xxxl:px-[62px];

    h3 {
      @apply flex items-center justify-center border-b border-semantic-black2 pb-2 md:pb-[14px] text-[20px] md:text-[28px] leading-[36px] font-body2 font-light uppercase;

      span {
        @apply font-body font-normal contents;
      }

      i {
        @apply text-[18px] md:text-[22px] mr-2 md:mr-4;
      }
    }

    .description {
      @apply block pb-6 md:pb-12 pt-6 md:pt-12 text-center border-b border-semantic-black2;

      p {
        @apply max-w-[800px]  mx-auto text-[18px] md:text-[24px] leading-[24px] md:leading-[32px] text-semantic-black font-body2 font-light;
      }
    }

    .slide-our-project {
      @apply flex flex-col xl:flex-row gap-4 md:gap-8 lg:gap-12 px-0 lg:px-8 xl:px-12 xxl:px-16 3xl:px-[178px] pt-12;

      .description-slide {
        @apply block pb-8;

        h2 {
          @apply text-semantic-black text-[32px] md:text-[48px] leading-[44px] md:leading-[52px] font-body2 font-medium mb-2;
        }

        p {
          @apply text-semantic-black2 text-[24px] md:text-[28px] leading-[32px] md:leading-[36px] font-body font-normal mb-3;
        }
      }

      .nav-control {
        @apply flex items-center justify-between pb-3;

        a {
          @apply text-semantic-black text-[20px] md:text-[30px];
        }
      }

      .mySwiper {
        @apply w-full;

        .slide {
          @apply w-full h-[240px] md:h-[275px];

          img {
            @apply w-full h-full object-cover;
          }
        }
      }

      .thumb {
        @apply w-full h-[300px] md:h-[400px] xl:h-[552px];

        img {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
}

.content-more-project {
  @apply w-full pb-20 lg:pb-[124px];

  > .container-fluid {
    @apply px-4 lg:px-8 xl:px-12 xxxl:px-[62px];

    h3 {
      @apply flex items-center justify-center border-b border-semantic-black2 pb-2 md:pb-3 mb-5 text-[20px] md:text-[28px] leading-[32px] md:leading-[36px] font-body2 font-light uppercase;

      span {
        @apply font-body font-normal contents;
      }

      i {
        @apply text-[18px] md:text-[24px] mr-2 md:mr-4;
      }
    }

    .list-more-proyect {
      @apply flex items-center xxxl:justify-center gap-3 overflow-auto;

      li {
        a {
          @apply whitespace-nowrap;

          &:hover,&.active {
            @apply bg-semantic-black text-semantic-white;
          }
        }
      }
    }
  }
}

.banner-project {
  @apply w-full h-[280px] md:h-[320px] lg:h-[450px] bg-no-repeat bg-cover relative bg-center;

  &::before {
    content: "";
    @apply absolute left-0 top-0 w-full h-full;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 25.9%, #000 124.59%);
  }
}

.content-our-clients {
  @apply w-full py-20;

  > .container-fluid {
    @apply px-4 lg:px-8 xl:px-20 xxxl:px-[140px] 3xl:px-[220px];

    h3 {
      @apply text-center text-semantic-black text-[24px] md:text-[30px] leading-[32px] md:leading-[56px] font-body2 font-light uppercase mb-10;

      span {
        @apply font-body;
      }
    }

    .list-brands {
      @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-x-20 gap-y-12 lg:gap-y-[60px];

      li {
        figure {
          img {
            @apply h-14 md:h-20 object-contain mx-auto;
          }
        }
      }
    }
  }
}

.content-project {
  @apply w-full pt-[220px] md:pt-[200px] lg:pt-[250px] pb-[100px];

  > .container-fluid {
    @apply px-4 lg:px-8 xl:px-[100px] xxxl:px-[240px];

    h1 {
      @apply text-center text-semantic-black text-[32px] md:text-[44px] lg:text-[58px] leading-[48px] lg:leading-[62px] font-body font-light mb-3 lg:mb-6 uppercase;
    }

    .list-categories-project {
      @apply flex flex-col md:flex-row justify-center md:flex-wrap gap-6 md:gap-0 md:gap-y-5 max-w-[940px] mx-auto pb-12;

      li {
        a {
          @apply flex text-[#555555] text-[14px] leading-[20px] font-display font-medium uppercase border-b border-neutral-100 pb-2 px-2;

          &.active,&:hover {
            @apply text-semantic-black border-b-2  border-semantic-black;
          }
        }
      }
    }

    .list-card-project {
      @apply grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-12 pb-16 md:pb-[120px];

      li {
        .card-project {
          @apply block space-y-4;

          .thumb {
            @apply w-full h-[240px] md:h-[280px] lg:h-[320px];

            img {
              @apply w-full h-full object-cover;
            }
          }

          .description {
            @apply flex flex-col lg:flex-row gap-4 lg:justify-between;

            h5 {
              @apply text-semantic-black text-[24px] leading-[28px] font-body2 font-bold uppercase;
            }

            p {
              @apply text-semantic-black text-[20px] leading-[26px] font-body2 font-light;
            }

            a {
              @apply whitespace-nowrap;
            }
          }
        }
      }
    }

    h3 {
      @apply flex items-center justify-center border-b border-semantic-black2 pb-1 md:pb-[14px] text-[20px] md:text-[28px] leading-[32px] md:leading-[56px] font-body2 font-light uppercase;

      span {
        @apply font-body font-normal contents;
      }

      i {
        @apply text-[18px] mr-4;
      }
    }
  }
}

.content-project-banner {
  @apply w-full h-[300px] md:h-[400px] lg:h-[420px] mt-[290px] bg-no-repeat bg-cover bg-center;
}

.content-detail-project {
  @apply w-full pt-8 pb-[90px];

  > .container-fluid {
    @apply px-4 xl:px-12 xxl:px-20 xxxl:px-[140px] 3xl:px-[230px];

    a {
      @apply text-semantic-black text-[20px] md:text-[24px] leading-[32px] md:leading-[24px] font-body font-normal uppercase;

      b {
        @apply font-body2 font-medium;
      }
    }

    h3 {
      @apply text-semantic-black2 text-[32px] md:text-[48px] leading-[36px] lg:leading-[56px] font-body font-normal;
    }

    blockquote {
      @apply block space-y-4 mx-auto max-w-[480px];

      h5 {
        @apply text-semantic-black text-[40px] md:text-[48px] leading-[48px] md:leading-[56px] font-body2 font-normal;
      }
    }

    p {
      @apply text-semantic-black text-justify text-[18px] md:text-[24px] leading-[32px] font-body2 font-light;
    }

    .galery {
      @apply grid grid-cols-1 md:grid-cols-3 gap-4 xl:block w-full h-auto xl:h-[722px] relative mb-20 max-w-[1110px] mx-auto;

      img {
        @apply xl:absolute object-cover;
      }
    }

    h6 {
      @apply inline-block text-semantic-black text-[24px] md:text-[28px] leading-[32px] md:leading-[56px] font-body2 font-light uppercase;

      i {
        @apply text-[16px] md:text-[24px] mr-3 mb-2;
      }

      span {
        @apply font-body font-normal;
      }
    }
  }
}